* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(3, 3, 3);
    display: flex;
    align-items: center;
    height: 70px;    
}


.logo {
    width: 10%; /*LARGURA*/
    font-weight: 800; /*NEGRITO*/
    color: white; /*COR*/
    background-color: aquamarine;
    height: 100%;
    display: flex;
    align-items: center; /*ALINHAMENTO VERTICAL*/
    justify-content: center; /*ALINHAMENTO HORIZONTAL*/
    text-align: center; /*ALINHAMENTO HORIZONTAL*/
}
.logo a{
        color: white; /*COR*/
        text-decoration: none;
        font-size: 40px;

}
.search-bar {
    width: 90%; /*LARGURA*/
    display: flex;
    padding-left:20px;
}
ul {
    list-style-type: none; /*LISTA*/
    margin: 0; /*MARGEM*/
    padding: 0; /*PADDING*/
}
ul li {
    display: inline; /*EXIBIÇÃO*/
    margin-right: 20px; /*MARGEM*/
}

li a {
    text-decoration: none;
    color:darkorange;
    font-size: 30px;
}

li a:hover {
    color: white; /*COR*/
    /* font-size: 35px; */
    font-weight: 700;
}

img {
    width: 200px; /*LARGURA*/
    height: auto; /*ALTURA*/
}


.header {
    font-size: 30px;
    align-items: center; /*ALINHAMENTO VERTICAL*/
    justify-content: center; /*ALINHAMENTO HORIZONTAL*/
    text-align: center; /*ALINHAMENTO HORIZONTAL*/
    text-shadow: 2px 2px 3px rgba(0,0,0,0.3); 
    /*HORIZONTAL-VERTICAL-BORRÃO*/
    font-family: sans-serif;
    font-weight: 800;
}


.content {
    display:grid;
    grid-template-columns: repeat(3, 1fr); 
    width: 100%;
    justify-items: center; /* centraliza os itens horizontalmente */
    align-items: center; /* centraliza os itens verticalmente */
    justify-content: center; /* centraliza todo o grid */
    /* 3 colunas de tamanhos iguais */
 }

 .spp-dog {
    width: 180px;
    height: 180px;
    background-color: rgb(194, 177, 177);
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    align-items: center; /*ALINHAMENTO VERTICAL*/
    justify-content: center; /*ALINHAMENTO HORIZONTAL*/
    text-align: center; /*ALINHAMENTO HORIZONTAL*/
 }

 .spp-dog img {
    width: 130px; /* largura  */
    height: 130px; /* altura  */
    border-radius: 8px;
    object-fit: cover; /*fit = ajuste object=objeto cover=cobrir*/
}

.spp-dog:hover {
    transform: scale(2);
    transition: transform 0.3s ease;
    background-color: #ba9090;
}
