<!DOCTYPE html>
<html lang="pt">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/home_gestor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <title>APP ESCOLA</title>
</head>

<body>

    <div class="navbar">
        <div class="navicon">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="logo">
            <h1>APP FREQUÊNCIA</h1>
            
        </div>
    </div>
    <div class="container">
        <p>Gestor verifique FREQUÊNCIA</p>
        <img src="../image_frequencia.jpg" alt="img_frequecia">
    </div>

</body>

</html>