<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <title>Login Escola</title>
</head>

<body>
    
    <div class="main">
        <h1>Bem vindo a página de Controle de Merenda</h1>
        <h2>Entre com suas Credenciais</h2>
        <form id="login-escola">
            <label for="inep">INEP</label>
            <input type="text" id="inep" name="inep" placeholder="Informe o INEP da escola">

            <label for="senha">SENHA</label>
            <input type="password" id="senha" name="senha" placeholder="Digite sua senha">

            <div class="botao"> 
                <input type="submit" value="Login" class="btn btn-login">
                <p>Não está registrado? 
                    <a href="register_gestor.html">Crie uma conta AQUI!</a> 
                </p>
            </div>
        </form>
    </div>
</body>


<script src="../js/script.js"></script> 

</html>