<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pagina_inicial.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Noto+Sans+Gurmukhi:wght@100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Crafty+Girls&family=Noto+Sans+Gurmukhi:wght@100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>SobraZero</title>
</head>
<body>
    <div class="container">
        <div class="container-left">
            <div class="header">
                <img src="../images/logo2.png" style="height:80%; width: auto;" >
                <h3>Sobra Zero</h3>
            </div>         
            <div class="main">
                <h1>SOBRA <br> ZERO</h1>
                <p>
                    Este site ajuda você a fazer a gestão da circulação de comida, reduzindo o desperdício!
                    </p>
            </div> 
            <div class="bottom">
                <button>Login Gestão</button>
                <button>Login Aluno</button>
            </div>
        </div>
        <div class="container-right">
            <img src="../images/logo1.png">
        </div>
    </div>
</body>
</html>