<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

    <title>Login Escola</title>
</head>

<body>
    
    <div class="main register">
        <h1>Bem Vindo ao Registro</h1>
        <form id="register-escola">

            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" placeholder="Informe o Nome da escola">

            <label for="inep-register">INEP</label>
            <input type="text" id="inep-register" name="inep-register" placeholder="Informe o INEP da escola">

            <label for="password">SENHA</label>
            <input type="password" id="password" name="password" placeholder="Digite sua senha">

            <label for="confirm">CONFIRME A SENHA</label>
            <input type="password" id="confirm" name="confirm" placeholder="Confirme sua senha">

            <div class="botao"> 
                <input type="submit" value="Registrar" class="btn btn-login">
                <p>
                    <a href="login_gestor.html">Faça o Login!</a> 
                </p>
            </div>
        </form>
    </div>
</body>

</html>