<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/dogpage.css">
    <title>Raças de Cachorros</title>
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <a href="#">DOG</a>
        </div>
        <div class="search-bar">
            <ul class="nav-links">
                <li><a href="home.html">Home</a></li>
                <li><a href="#">Sobre</a></li>
            </ul>
        </div>
    </div>

    <div class=" corpo">
        <div class="header">
            <p>Bem vindo a página de Raças de <b>Cachorros</b></p>
        </div>
        <div class="content">
            <div class="spp-dog">
                <img src="../static/images/pitbull.jpg" alt="pitbull" />
                <p>Pitbull</p>
            </div>
            <div class="spp-dog">
                <img src="../static/images/viralata.jpg" alt="viralata" />
                <p>Viralata</p>
            </div>
            <div class="spp-dog">
                <img src="../static/images/pinche.jpg" alt="pinche" />
                <p>Pincher</p>
            </div>
            <div class="spp-dog">
                <img src="../static/images/pastor.jpg" alt="pastor" />
                <p>Pastor Alemão</p>
            </div>
            <div class="spp-dog">
                <img src="../static/images/dalmata.jpg" alt="dalmata" />
                <p>Dalmata</p>
            </div>
            <div class="spp-dog">
                <img src="../static/images/shitzu.jpg" alt="shitzu" />
                <p>Shitzu</p>
            </div>
        </div>
    </div>
</body>

</html>