<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/dogpage.css">
    <title>Raças de Cachorros</title>
</head>

<body>
    <div class="header">
        <p>Bem vindo a página de Raças de <b>Cachorros</b></p>
    </div>

    <div class="content">
        <img src="../static/images/dog1.jpg" alt="cachorro1" />
        <img src="../static/images/viralata.jpg" alt="viralata" />
        <img src="../static/images/pinche.jpg" alt="pinche" />
        <img src="../static/images/pastor.jpg" alt="pastor" />
        <img src="../static/images/dalmata.jpg" alt="dalmata" />
        <img src="../static/images/shitzu.jpg" alt="shitzu" />
    </div>

</body>

</html>